.img-icon {
  width: 20%;
}

.menu-text {
  margin-left: 10px;
}


.category-style {
  margin-left: 60px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #71614b;
  margin-bottom: 0px;
  margin-top: 10px;
}

.main-sidebar .nav .nav-item .nav-link {
  padding: 0.9375rem 4.5625rem;
}